# Tensorflow cpu-only version (needed for testing).
tensorflow-cpu~=2.16.1  # Pin to TF 2.16

# Torch cpu-only version (needed for testing).
--extra-index-url https://download.pytorch.org/whl/cpu
torch==2.2.2
torchvision==0.17.2

# Jax with cuda support.
--find-links https://storage.googleapis.com/jax-releases/jax_cuda_releases.html
jax[cuda11_pip]==0.4.25
flax

-r keras2.requirements-common.txt

