# Tensorflow.
tensorflow-cpu~=2.16.1  # Pin to TF 2.16

# Torch.
--extra-index-url https://download.pytorch.org/whl/cpu
torch==2.2.2
torchvision==0.17.2

# Jax.
jax[cpu]==0.4.25
flax

# Common deps.
-r keras2.requirements-common.txt

