--extra-index-url https://download.pytorch.org/whl/cu118
torch==2.5.1+cu118
torchvision==0.20.1+cu118
torch-xla

# Jax.
--find-links https://storage.googleapis.com/jax-releases/jax_cuda_releases.html
jax[cuda11_pip]==0.4.25
jaxlib==0.4.25
flax

-r keras2.requirements-common.txt
