awscli
basemap
bayesian-optimization
boto3
bqplot
cython
dask
flake8
folium
gensim
geopandas
geopy
google-api-core
google-auth
google-cloud-aiplatform
google-cloud-bigquery
google-cloud-bigquery-storage
google-pasta
graphviz
huggingface-hub
implicit
ipycanvas
ipympl
ipyvuetify
ipywidgets
ldap3
libclang
lightgbm
matplotlib
multiprocess
multiprocesspandas
mysql-connector-python
onnxruntime_extensions
onnxsim
open_clip_torch
optimum
pandas-gbq
pandas_parallel_apply
pendulum
pgeocode
psycopg2-binary
py7zr
pycountry
pydot
pygeos
pyglet
pylint
pymc
pyodbc
pytesseract
sasl
seaborn
sentence-transformers
sentencepiece
shap
sqlalchemy
statsmodels
sympy
tabula-py
tabulate
tensorboard
texttable
tokenizers
torch_geometric
transformers
vaex
widgetsnbextension
wrapt
xgboost
xlrd
