altair
beautifulsoup4
bokeh
bottleneck
cloudpickle
conda-forge::blas=*=openblas
cython
dask==2024.7.1
dill
h5py
ipympl
ipywidgets
matplotlib-base
numba
numexpr
openpyxl
pandas
patsy
protobuf
pytables
scikit-image
scikit-learn
scipy==1.12.0
seaborn
sqlalchemy
statsmodels
sympy
widgetsnbextension
xlrd
matplotlib
numpy
opencv
mysql-connector-python
sasl
psycopg2-binary
graphviz
python-graphviz
requests
pydot
flake8
pylint
ipycanvas
ipyvuetify
bqplot
tabulate
ldap3
pyglet
implicit
shap
glmnet
pytesseract
vaex
tqdm
lightgbm
bayesian-optimization
pyzmq
